body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background: #1b1b1b;
  color: #fff;
}




html {
  scroll-behavior: smooth;
}

/* navbar open */

.navbar {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(3px);
  position: fixed;
  z-index: 1001;
  top: 0;
  
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.navbar .logo {
  margin-left: 40px;
}

.nav-bar {
  margin-right: 40px;
  margin-top: 20px;
  
}

.nav-bar ul {
  list-style: none;
  display: flex;
}


.nav-bar ul li {
  padding-left: 10px;
  cursor: pointer;
  transition: all .2s ease;
}

.nav-bar ul li:hover {
  color: #b3b3b3;
}

.nav-bar ul li ul {
  display: none;
  position: absolute;
  right: 140px;
  padding: 10px 15px;
  background: #272727;
  border-radius: 5px;
  cursor: pointer;
  top: 10vh;
}

.nav-bar ul li a {
  transition: all .2s ease;
}

.nav-bar ul li a:hover {
  color: #b3b3b3;
}

.nav-bar .active {
  color: #fff;
  font-weight: bold;
}

.nav-bar .size {
  font-size: 13px;
}

#blog {
  border: none;
}

/*? home open */

.home {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-size: 50px;
  margin-top: 90px;
  text-align: center;
}

.home p {
  text-align: center;
}

.home a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background: #8400ff;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
  transition: all .3s ease;
}

.home a:hover {
  background: #7100dc;
  color: #ddd;
}


.area {
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}



/*!  about open */

.orange {
  color: #FF7A01;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding: 0px 40px;
}

@media (min-width: 1200px) and (max-width: 1441px) {
  .container {
    max-width: 1250px;
    padding: 0px 36px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0px 30px;
  }
}

@media (max-width: 479px) {
  .container {
    padding: 0px 30px 0px 20px;
  }
}

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me .about-me-container {
  position: relative;
}

@media (max-width: 960px) {
  .about-me .about-me-container {
    padding-bottom: 100px;
  }
}

.about-me .about-me-container .about-me-title {
  font-size: 55px;
  color: #87A4B6;
  font-weight: 700;
}

@media (max-width: 500px) {
  .about-me .about-me-container .about-me-title {
    font-size: 30px;
  }
}

.about-me-flex-container {
  margin-top: -25px;
  margin-left: 150px;
  left: 100px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .about-me-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 50px;
  }
}

@media (max-width: 500px) {
  .about-me-flex-container {
    margin-top: -10px;
  }
}

.about-me-flex-container .about-me-image {
  position: relative;
  width: 400px;
  height: 400px;
}

@media (max-width: 500px) {
  .about-me-flex-container .about-me-image {
    width: 300px;
    height: 300px;
  }
}

.about-me-flex-container .about-me-image .back-div {
  position: absolute;
  bottom: 0;
  z-index: -3;
  background-color: #013747;
  width: 80%;
  height: 80%;
}

.about-me-flex-container .about-me-image .black-image {
  z-index: -2;
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 100%;
}

.about-me-flex-container .about-me-image .black-image img {
  height: 100%;
}

.about-me-flex-container .about-me-image .main-image {
  width: 70%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  left: 25%;
  top: 5%;
  box-shadow: rgb(0, 0, 0) 0px 7px 50px 0px;
  transition: all 0.2s ease-out;
}

.about-me-flex-container .about-me-image .main-image:hover {
  transform-origin: top center;
  transform: scale(1.5);
  border-radius: 25px;
}

.about-me-flex-container .about-me-image .main-image img {
  transform-origin: center center;
  transform: scale(2);
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.2s ease-out;
}

.about-me-flex-container .about-me-image .main-image img:hover {
  transform: scale(1);
}

.about-me-flex-container .about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}

@media (max-width: 960px) {
  .about-me-flex-container .about-me-content {
    flex-direction: row-reverse;
  }
}

.about-me-flex-container .about-me-content .logo {
  max-width: 200px;
}

.about-me-flex-container .about-me-content .logo img {
  filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}

@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .logo img {
    transform: rotateZ(90deg);
  }
}

.about-me-flex-container .about-me-content .text {
  color: #87A4B6;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .text {
    font-size: 16px;
  }
}



.mail-button {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.mail-button a {
  display: flex;
}

.mail-button img {
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 0.2s ease-out;
}


.mail-button2 {
  background-color: #001925;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 10px solid #001925;
}

.mail-button2 img {
  filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
}

.mail-button2:hover {
  background-color: #FF7A01;
  border: 10px solid #FF7A01;
}

.mail-button2:hover img {
  filter: unset;
  transform: scale(1.5);
}

.about-me .main-image {
  border-radius: 5px;
}

.about-me-image {
  margin-top: 15vh;
}

.about-me-content {
  margin-top: 25vh;
  margin-right: 10vw;
}

.about-btns {
  margin-left: -16vw;
}

.about-btns a {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  border: 1px solid #8400ff;
  border-radius: 5px;
  transition: all .3s ease;
}

.about-btns .btn1 {
  background: #8400ff;
}

.about-btns .btn1:hover {
  background: transparent;
}

.about-btns .btn2 {
  background: transparent;
  margin-left: .5vw;
}

.about-btns .btn2:hover {
  background: #8400ff;
}

#about {
  margin-top: -75vh;
}


/*!  about close */

/*? service open */
.service-container {
  padding: 50px 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.parent {
  height: 400px;
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 100px;
  transform-style: preserve-3d;
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;

  &:hover {
    background-position: 80% 20%;
    transform: rotate3d(0.5, 1, 0, 30deg);
  }
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: all .5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;


  .card-title {
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);

    &:hover {
      transform: translate3d(0px, 0px, 50px);
    }
  }

  .card-content {
    padding-top: 15px;
    font-size: 12px;
    color: rgb(185, 185, 185);
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);

    &:hover {
      transform: translate3d(0px, 0px, 50px);
    }
  }

  .see-more {
    display: block;
    font-weight: 900;
    font-size: 11px;
    text-transform: uppercase;
    color: rgb(0, 136, 255);
    padding-top: 15px;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);

    &:hover {
      transform: translate3d(0px, 0px, 50px);
    }
  }
}

.date-box {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 60px;
  width: 60px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgb(0, 102, 255) 0px 20px 60px 0px, rgb(0, 200, 255) 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);

  span {
    display: block;
    text-align: center;
  }

  .month {
    color: white;
    font-size: 11px;
    font-weight: 700;
  }

  .date {
    font-size: 20px;
    font-weight: 900;
    color: rgb(0, 136, 255);
  }
}

.card2 {
  filter: hue-rotate(150deg);
}

.card3 {
  filter: hue-rotate(300deg);
}

.card4 {
  filter: hue-rotate(90deg);
}

.card3,
.card4 {
  margin-left: 60px;
}

.service h1 {
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
}

.service-container {
  margin-top: -15vh;
}

.span {
  color: #8400ff;
}

.service {
  margin-top: 30vh;
}

.card .date-box span {
  color: #fff;
}

/*? service close */





/*! footer open */
footer {
  bottom: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  width: 600px;
  margin-left: 60px;
}

.footer-logo h2 {
  width: 70%;
  height: auto;
}

.footer-txt {
  margin-left: 10px;
  width: 70%;
}

.footer-icons {
  margin-right: 50px;
  color: #afafaf;
}

.footer-icons a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}

.footer-icons a:last-child {
  color: crimson;
}

/* !footer close */

/*? ext */
#element {
  font-size: 45px;
  -webkit-text-stroke: 2px #8400ff;
  color: transparent;
  font-weight: 800;
}